{% extends 'base.html' %}

{% block title %}
  Contact Us
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2>Contact</h2>
    <p>If you have any questions, feel free to contact me through the following channels:</p>
    
    <div class="contact-info">
        <h4>Contact Information</h4>
        <p><strong>Email:</strong> tgfonefone2559@gmail.com</p>
        <p><strong>Phone:</strong> +66 87 626 2516</p>
        <p><strong>Address:</strong> 15 Kanchanawanit Road, Hat Yai District, Songkhla Province 90110, Thailand</p>
    </div>
</div>
{% endblock %}
