{% extends 'base.html' %}

{% block body %}

<style>
    body {
        font-family: Arial, sans-serif; /* เปลี่ยนฟอนต์ */
        font-size: 16px; /* ขนาดฟอนต์ทั่วไป */
    }

    .navbar {
        font-size: 14px; /* ขนาดฟอนต์เฉพาะสำหรับ navbar */
    }

    @keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 0; }
        100% { opacity: 1; }
    }

    .blink {
        animation: blink 1s infinite;
        font-size: 1.5em; /* ปรับขนาดตามต้องการ */
    }

    .or-effect {
        color: red; /* เปลี่ยนสีเป็นสีแดง */
        font-size: 1.8em; /* ปรับขนาดตามต้องการ */
        font-weight: bold; /* ทำให้ตัวหนา */
    }
</style>

{% if current_user.is_authenticated %}
<ul class="nav justify-content-center" style="padding-top: 1em;">
    <li class="nav-item">
        <a class="btn btn-primary" href="{{ url_for('create_note') }}">Create</a>
    </li>
</ul>

{% for note in notes %}
<div class="card my-3">
    <div class="card-body">
        <h4 class="card-title">{{ note.title }}</h4>
        <div class="card-text my-3">
            {{ note.description }}
        </div>
        <div class="card-footer text-muted">
            <strong>Tags:</strong>
            {% for t in note.tags %}
            <a href="{{ url_for('tags_view', tag_name=t.name) }}">{{ t.name }}</a>
            {% if current_user.is_authenticated and current_user.has_role("admin") %}
            <div><a href="{{ url_for('update_note', tag_id=t.id) }}">Edit Note</a></div>
            <div><a href="{{ url_for('update_tags', tag_id=t.id) }}">Edit Tags</a></div>
            <div><a href="{{ url_for('delete_note', tag_id=t.id) }}">Delete Note</a></div>
            <div><a href="{{ url_for('delete_tags', tag_id=t.id) }}">Delete Tags</a></div>
            <div><a href="{{ url_for('delete', tag_id=t.id) }}">Delete All</a></div>
            {% endif %}
            {% endfor %}
            <br>
            <small>Last update: {{ note.updated_date }}</small>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<p class="text-center mt-5 blink">Register for a free online account</p>
<p class="text-center mt-5"><span class="or-effect">Or</span></p>
<p class="text-center mt-5 blink">Login to view your note</p>
{% endif %}

{% if notes %}
{% endif %}
{% endblock %}
