<!-- filepath: /c:/Users/ASUS/Desktop/SusiWebsite/templates/reset_password.html -->
{% extends 'base.html' %}
{% block body %}
<h3 class="my-2">Reset Password</h3>
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group my-3">
        {{ form.password.label }}
        {{ form.password(class_='form-control') }}
    </div>
    <div class="form-group my-3">
        {{ form.password2.label }}
        {{ form.password2(class_='form-control') }}
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>
{% endblock %}